*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box-img{
    width: 64vh;
    height: 64vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.img-git{
    background-size: cover;
    width: 20vw;
    height: 20vw;
}

.box-titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 8vh;
    font-weight: bold;
}

.input-text{
    width: 18vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0.5vh;
    padding-left: 1.5vh;
    box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.64);
}

.botao-pesquisa{
    width: 8vw;
    height: 2vw;
    margin: 2vh;
    border-radius: 0.4vw;
    cursor: pointer;
    color: rgb(65, 61, 61);
    font-weight: 600;
    font-family: "Helvetica";
    font-size: 80%;
    background-color: rgba(245, 245, 245, 0.986);
}